.container-md{
    width: 30%;

    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.container-image{
    width: 100%;
    margin-left: 40%;
    margin-right: 40%;

}


@media (max-width: 768px) {
    .container-md{
        width: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 10px;
        border-radius: 10px;
        background-color: #f2f2f2;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
}
